<div>
    <div>
        <h2>Upload Your Thought</h2>
        @if(user){
        <form [formGroup]="uploadThoughtForm" (ngSubmit)="uploading()">
            <div>
                <label for="title">:(Title) כותרת</label>
                <input type="text" id="title" formControlName="title" placeholder="הכנס כותרת למחשבה שלך" />
                @if(uploadThoughtForm.get('title')?.invalid && uploadThoughtForm.get('title')?.touched) {
                <p class="validation-error">כותרת היא שדה חובה.</p>
                }
            </div>

            <div>
                <label for="desc">תיאור:(desc)</label>
                <input type="text" id="desc" formControlName="desc" placeholder="הכנס את ההגיג שלך כאן" />
                @if(uploadThoughtForm.get('desc')?.invalid && uploadThoughtForm.get('desc')?.touched) {
                <p class="validation-error">תיאור הוא שדה חובה.</p>
                }
            </div>

            <div>
                <label for="image">תמונה</label>
                <input type="file" id="image" (change)="OnFileSelected($event)">
                <label for="image">
                    @if (selectedFile) {
                    <span>({{selectedFile.name}})</span>
                    }
                </label>
            </div>

            <div>
                <label for="age">גיל:</label>
                <select id="age" formControlName="age">
                    <option value="">בחר גיל</option>
                    @for (age of ageOptions; track age.id){
                    <option [value]="age.id">{{ age.ageName }}</option>
                    }
                </select>

                @if(uploadThoughtForm.get('age')?.invalid && uploadThoughtForm.get('age')?.touched) {
                <p class="validation-error">נא לבחור גיל.</p>
                }
            </div>



            <button class="button" type="submit" [disabled]="uploadThoughtForm.invalid">להעלאת התוכן</button>

        </form>
        } @else{
        <h2>Please log in to upload a thought.</h2>}
    </div>
</div>